.vis-container {
    width: 100%;
  }
  
  .page {
    width: 1024px;
    background-color:white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  section1 h2,
  h1 {
      text-align: center;
      background-color:rgb(253, 201, 132);
  margin-top: 0px;
  }

  description-left {
    width: 300px;
    padding-left: 20px;
    margin-left: 25px;
}


  p {
    text-align: left;
  }

  .section1 {
    text-align: center;
    background-color:rgb(253, 201, 132);
  }

  .introduction{ 
    text-align: center;
  }

  body {
    background-color: antiquewhite;
  }