.vis-container {
    width: 100%;
  }
  
  .page {
    width: 950px;
    background-color:white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
    font-family: 'Source Sans Pro', sans-serif;
  }
 

  description-left {
    width: 300px;
    padding-left: 20px;
    margin-left: 25px;
}

.vis1{
    width: 100%;
    align-content: center;
}

.vis2{
    width: 100%;
    align-content: center;
}

.vis3{
    width: 100%;
    align-content: center;
}

.vis4{
    width: 100%;
    align-content: center;
}

.description-right {
  padding: 20px;
}
    

  p {
    text-align: left;
  }

  .section1 {
    text-align: center;
    background-color:rgb(253, 201, 132);
  }

  .introduction1{ 
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color:rgb(253, 201, 132);
  }

  body {
    background-color: antiquewhite;
  }

.description h1 {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color:rgb(253, 201, 132);
  }
